{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Yummy FOOD</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png'%}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css'%}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css'%}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/home">Home</a>
								</li>
								<li><a href="/about">About</a></li>
								<li><a href="/Restaurants">Restaurant</a>
								</li>
								<li><a href="/Contact">Contact</a></li>
								<li><a>Log-in</a>
									<ul class="sub-menu">
										<li><a href="/loginn">Login Now</a></li>
										<li><a href="/Signup">Sign-up</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Fresh & Tasty</p>
							<h1>Delicious Fast Food</h1>
							<div class="hero-btns">
								<a href="/Restaurants" class="boxed-btn">Restaurants Collection</a>
								<a href="/Contact" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over $75</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Most Popular Items</h3>
						<p>We Select For You Best Restaurants.</p>
					</div>
				</div>
			</div>
			{% block content %}
			<div class="row">
				{% for product in products %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="/singleitem"><img src="{{product.imageURL}}" alt=""></a>
						</div>
						<h3>{{product.name}}</h3>
						<p class="product-price"> {{product.price}}dt </p>
						<a  data-product="{{product.id}}" data-action="add" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}
			{% endblock content %}
				<!-- <div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'img/products/product-2.jpg' %}" alt=""></a>
						</div>
						<h3>{{product.name}}</h3>
						<p class="product-price"> {{product.price}}dt </p>
						<a href="/cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{%static 'img/products/product-3.jpg'%}" alt=""></a>
						</div>
						<h3>{{product.name}}</h3>
						<p class="product-price"> {{product.price}} dt </p>
						<a href="/cart" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				
			</div>
		</div>
				
	</div>
	 -->
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> off for each Order
                                </span>
                            </div>
                        </div>
                    	<img src="{%static 'img/a.jpg'%}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Deal</span> of the month</h3>
                    <h4>Happy Hallowen
					</h4>
                    <div class="text">The Greek Dish it's Only For 20 dt </div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="/cart" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{%static 'img/avaters/avatar1.png'%}" alt="">
							</div>
							<div class="client-meta">
								<h3>Asma <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Group members share a sense of purpose or common goals that each member is willing to work toward."
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{%static 'img/avaters/avatar2.png'%}" alt="">
							</div>
							<div class="client-meta">
								<h3>Sofiene <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" The group is concerned not only with the task, but also with its own processes and operating procedures. The group periodically evaluates its performance."
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{%static 'img/avaters/avatar3.png'%}" alt="">
							</div>
							<div class="client-meta">
								<h3>Hedi<span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Mistakes are seen as sources of learning rather than reasons for punishment. This encourages creativity and risk taking. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 2020</p>
						<h2>We are <span class="orange-text">Yummy Food</span></h2>
						<p>Offers delicious dishes, perfect for the whole family. Whether you are looking for freshly baked breadsticks or perfectly prepared pasta,Our Restaurant has something for every appetite.</p>
						<a href="/about" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>December sale is on! <br> with big <span class="orange-text">Discount...</span></h3>
            <div class="sale-percent"><span>Sale! <br> Upto</span>50% <span>off</span></div>
            <a href="/Restaurants" class="cart-btn btn-lg">Order Now</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Restaurants</h3>
						<p>Our restaurant provides stamps. To receive them via email please make sure you are subscribed to "discounts, new restaurants and special offers" at the checkout.
							1 produit acheté = 1 produit offert sur tout le Tex-Mex</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">La Cantine</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 20 October, 2021</span>
							</p>
							<p class="excerpt"> Italian style pizza, Burgers, 100% Halal.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="/singleitem"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="/singleitem">LEGENDS</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 22 October, 2021</span>
							</p>
							<p class="excerpt">Pancakes, Sandwiches, Desserts.</p>
							<a href="/singleitem" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="/singleitem"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="/singleitem">Farms West</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 October, 2021</span>
							</p>
							<p class="excerpt">French Tacos, Italian style pizza, Burgers.</p>
							<a href="/singleitem" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="/Restaurants" class="boxed-btn">More Restaurants</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/1.png'%}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'img/company-logos/2.png'%}" alt="">
						</div>
						<div class="single-logo-item">
							<img src=" {% static 'img/company-logos/3.png'%}" alt="">
						</div>
						<div class="single-logo-item">
							<img src=" {% static 'img/company-logos/4.png'%}" alt="">
						</div>
						<div class="single-logo-item">
							<img src=" {% static 'img/company-logos/5.png'%}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Offers delicious dishes, perfect for the whole family. Whether you are looking for freshly baked breadsticks or perfectly prepared pasta,Our Restaurant has something for every appetite.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>55 Rue sousse.</li>
						<li>support@fastfood.com</li>
						<li>+216 11 222 333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="/about">About</a></li>
						<li><a href="/Restaurants">Restaurants</a></li>
						<li><a href="/Contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2021 ,  All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js'%}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js'%}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js'%}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js'%}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js'%}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js'%}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js'%}"></script>

	<script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
	
	<script type="text/javascript">

		var user = '{{request.user}}'

		// function getToken(name) {
		//     var cookieValue = null;
		//     if (document.cookie && document.cookie !== '') {
		//         var cookies = document.cookie.split(';');
		//         for (var i = 0; i < cookies.length; i++) {
		//             var cookie = cookies[i].trim();
		//             // Does this cookie string begin with the name we want?
		//             if (cookie.substring(0, name.length + 1) === (name + '=')) {
		//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		//                 break;
		//             }
		//         }
		//     }
		//     return cookieValue;
		// }
		// var csrftoken = getToken('csrftoken')

		// function getCookie(name) {
		//     // Split cookie string and get all individual name=value pairs in an array
		//     var cookieArr = document.cookie.split(";");

		//     // Loop through the array elements
		//     for(var i = 0; i < cookieArr.length; i++) {
		//         var cookiePair = cookieArr[i].split("=");

		//         /* Removing whitespace at the beginning of the cookie name
		//         and compare it with the given string */
		//         if(name == cookiePair[0].trim()) {
		//             // Decode the cookie value and return
		//             return decodeURIComponent(cookiePair[1]);
		//         }
		//     }

		//     // Return null if not found
		//     return null;
		// }
		// var cart = JSON.parse(getCookie('cart'))

		// if (cart == undefined){
		// 	cart = {}
		// 	console.log('Cart Created!', cart)
		// 	document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		// }
		// console.log('Cart:', cart)
	
	</script>

</body>
</html>