{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
    <link href="{% static 'css/signup.css'%}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <meta charset="utf-8">
     
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png'%}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	assets/">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css'%}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css'%}">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="{% static 'img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/home">Home</a>
								</li>
								<li><a href="/about">About</a></li>
								<li><a href="/Restaurants">Restaurant</a>
								</li>
								<li><a href="/Contact">Contact</a></li>
								<li><a>Log-in</a>
									<ul class="sub-menu">
										<li><a href="/loginn">Login Now</a></li>
										<li><a href="/Signup">Sign-up</a></li>
										
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
            <div class="text">
               Sign-up Form
            </div>
			<form action=" " method='POST' class="form">
			
				{% csrf_token %}
				<!-- {{form.as_p}} -->
				<!-- {{form2.as_p}} -->
				<div class="data">
					<label>Name</label>
					{{form2.name}}
				 </div>
				 
				<div class="data">
					<label>UserName</label>
					{{form.username}}
				 </div>

				 <div class="data">
					<label>Password</label>
					{{form.password1}}
				 </div>
				 <div class="data">
					<label>Confirm Password</label>
					{{form.password2}}
				 </div>
				 <div class="data">
					<label>EMAIL</label>
					{{form2.email}}
				 </div>
				 
				<div class="btn">
				   <div class="inner"></div>
				   <button type="submit" value="Client">SignUP!  </button>
				</div>
			 </form>


<!--             
                <div class="data">
                   <label>First Name</label>
                   <input type="text" required>
                </div>
                    <div class="data">
                       <label>Last Name</label>
                       <input type="text" required>
                    </div>   
               <div class="data">
                  <label>Email</label>
                  <input type="text" required>  
                </div>   
                    <div class="data">
                       <label>Phone</label>
                       <input type="text" required>
                    </div>
               <div class="data">
                  <label>Street</label>
                  <input type="text" required>
               </div>
               <div class="data">
                  <label>City</label>
                  <input type="text" required>
               </div>
               <div class="btn">
                  <div class="inner" ></div>
                  <button type="submit"> <a href="/home">Sign in </button></a> -->
               </div>
         </div>
      </div>
   </body>
  <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Offers delicious dishes, perfect for the whole family. Whether you are looking for freshly baked breadsticks or perfectly prepared pasta,Our Restaurant has something for every appetite.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>55 Rue sousse.</li>
							<li>support@fastfood.com</li>
							<li>+216 11 222 333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/Restaurants">Restaurants</a></li>
							<li><a href="/Contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2021 ,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
		<!-- jquery -->
		<script src="{% static 'js/jquery-1.11.3.min.js'%}"></script>
		<!-- bootstrap -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
		<!-- count down -->
		<script src="{% static 'js/jquery.countdown.js'%}"></script>
		<!-- isotope -->
		<script src="{% static 'js/jquery.isotope-3.0.6.min.js'%}"></script>
		<!-- waypoints -->
		<script src="{% static 'js/waypoints.js'%}"></script>
		<!-- owl carousel -->
		<script src="{% static 'js/owl.carousel.min.js'%}"></script>
		<!-- magnific popup -->
		<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
		<!-- mean menu -->
		<script src="{% static 'js/jquery.meanmenu.min.js'%}"></script>
		<!-- sticker js -->
		<script src="{% static 'js/sticker.js'%}"></script>
		<!-- main js -->
		<script src="{% static 'js/main.js'%}"></script>
</html>